@import 'tailwindcss';

:root {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
  font-synthesis: none;
  background-color: black;
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400, 500, 600, 700, 800, 900;
}

